*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
}
::selection{
  background: #fff;
  color: #000;
}
nav{
  position: fixed;
  background: #0d47a1;
  width: 100%;
  padding: 10px 0;
  z-index: 12;
}
nav .menu{
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.menu .logo p{
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.menu ul{
  display: inline-flex;
}
.menu ul li{
  list-style: none;
  margin-left: 7px;
}
.menu ul li:first-child{
  margin-left: 0;
}
.menu ul li button{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  border-style: none;
  transition: all 0.3s ease;
  background: none;
}
.menu ul li button:hover{
  background: #fff;
  color: black;
}

.background{
  position: absolute;
  height: 100%;
  width: 100%;
  background: #1e88e5;
}
.main{
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.main .title{
  color: #fff;
  font-size: 55px;
  font-weight: 600;
}
.main .title p{
  display: inline;
}
.main .sub_title{
  color: #fff;
  font-size: 32px;
  font-weight: 600;
}
.main .btns{
  margin-top: 20px;
}
.main .btns button{
  height: 55px;
  width: 170px;
  border-radius: 5px;
  margin: 0 10px;
  border: 2px solid white;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  background: none;
  color: #fff;
}

.btns button:hover{
  background: white;
  color: black;
}

.service {
  display: block;
}

.settings {
  display: none;
}

.logs {
  display: none;
}

.about {
  display: none;
}

.status {
  position: fixed;
  background: #1565c0;
  bottom: 0;
  width: 100%;
  padding: 10px 10px;
  text-align: right;
}

.status p {
  text-decoration: none;
  color: #fff;
  display: inline;
}

.menu :focus {
  border-style: solid;
  border-radius: 3px;
  border: 3px solid black;
}

.main button:focus {
  background: white;
  color: black;
  border: 2px solid black;
}

.main button:active {
  background: lightgray;
}

#txtServiceVersion {
  color: #fff;
  font-size: 11px;
  font-weight: 600;
}

.settings {
  margin-left: 15%;
  margin-right: 15%;
}
.advSettingitems {
  display: none;
}

.settingItemsAdv {
  display: none;
}

.settingItemsNormal {
  display: block;
}
.settingItems {
  text-align: center;
}
.settingItems p{
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 2px;
}
.settingItems ul{
  display: inline-flex;
  margin-bottom: 20px;
}
.settingItems ul li{
  text-align: left;
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
}

.settingItems input[type="text"]{
  border-style: none;
  border-radius: 5px;
  height: 30px;
  min-width: 150px;
  padding: 0 20px;
  font-size: 15px;
}

.checkboxes{
  text-align: right;
  margin-left: 20px;
}

.checklabel label{
  font-size: 19px;
  font-weight: 500;
  color: #fff;
}

.settingItems input[type="checkbox"]{
  border-style: none;
  border-radius: 5px;
  height: 25px;
  width: 25px;
  padding: 0 20px;
  vertical-align: middle;
  margin-left: 7px;
  margin-bottom: 4px;
}

.settingItems select{
  border-style: none;
  border-radius: 5px;
  height: 30px;
  min-width: 230px;
  padding: 0 20px;
  font-size: 15px;
  background-color: white;
}

.settingItems :focus{
  border-style: solid;
  border-radius: 2px;
  border: 2px solid black;
}

.settingItems button:active{
    background: lightgray;
}

.settingItems input:focus{
  border-style: solid;
  border-radius: 2px;
  border: 2px solid black;
}

.checkboxes input[type="checkbox"]:focus{
  outline: 2px solid black;
}

.manualres {
  display: none;
}

.avatars img{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 10px;
}
.avatars p{
   display: flex;
   align-items:center;
}

.aboutItems {
  text-align: center;
}
.aboutItems p{
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 15px;
  text-align: center;
}
.aboutItems ul{
  display: inline-flex;
  margin-right: 20px;
}
.aboutItems ul li{
  text-align: left;
  list-style: none;
  margin-right: 10px;
}

.aboutItems a{
  color: white;
}

.aboutItems :focus {
  border-style: solid;
  border-radius: 3px;
  border: 3px solid white;
}