.menu.blackMode {
  background: black;
  border-bottom: 2px solid grey;
}

.menu .logo.blackMode p{
  color: #fff;
}

.menu.blackMode ul li button{
  color: #fff;
  border-radius: 5px;
  border-style: none;
  background: none;
}
.menu.blackMode ul li button:hover{
  background: #fff;
  color: black;
}

.background.blackMode{
  background: black;
}

.main .title.blackMode{
  color: #fff;
}

.main .sub_title.blackMode{
  color: #fff;
}

.main .btns.blackMode button{
  border-radius: 5px;
  border: 2px solid white;
  outline: none;
  background: none;
  color: #fff;
}

.btns.blackMode button:hover{
  background: white;
  color: black;
}

.status.blackMode {
  background: black;
  border-top: 2px solid grey;
}

.status .info.blackMode p {
  color: #fff;
}

.lightMode.blackMode button {
  outline: none;
  border: 2px solid white;
  border-radius: 5px;
  background-color: #0d0d0d;
}

.lightMode.blackMode button:hover{
  background-color: white;
  color: black;
}
.lightMode.blackMode button:focus {
  background-color: white;
  color: black;
  border: 2px solid black;
  outline: 1px solid white;
}

.menu.blackMode :focus {
  border-style: solid;
  border-radius: 3px;
  border: 3px solid black;
  outline: 1px solid white;
}

.main.blackMode button:focus {
  background: white;
  color: black;
  border: 2px solid black;
  outline: 1px solid white;
}

.main.blackMode button:active {
  background: lightgray;
}

.settingItems.blackMode p{
  color: #fff;
}

.checklabel.blackMode label{
  color: #fff;
}

.settingItems.blackMode input[type="checkbox"]{
  border-style: none;
  border-radius: 5px;
}

.settingItems.blackMode select{
  border-style: none;
  border-radius: 5px;
  background-color: white;
}

.settingItems.blackMode :focus{
  border-style: solid;
  border: 2px solid black;
  outline: 1px solid white;
}

.settingItems.blackMode button:active{
    background: lightgray;
}

.settingItems.blackMode input:focus{
  border-style: solid;
  border-radius: 2px;
  border: 2px solid black;
  outline: 1px solid white;
}

.checkboxes.blackMode input[type="checkbox"]:focus{
  outline: 2px solid black;
  outline: 1px solid white;
}

.aboutItems.blackMode p{
  color: #fff;
}

.aboutItems.blackMode a{
  color: white;
}

.aboutItems.blackMode :focus {
  border-style: solid;
  border-radius: 3px;
  border: 3px solid white;
}

.upperTab.blackMode p{
  color: #fff;
}

.logBox.blackMode textarea{
  color: white;
  background-color: black;
  border: 1px solid white;
}

.logBox.blackMode textarea:focus{
  background-color: black;
  border: 2px solid white;
  outline: 1px solid white;
}